$primary-font: "Poppins", sans-serif;
$secondary-font: "Inter", sans-serif;

$primary-color: #0b2b3c;
$secondary-color: #7bae00;
$third-color: #1e1b39;
$text-color: #666;
$red: #de0808;
$yellow: #fc0;
