include ./helpers/mixins
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Fodo - Grocery Store and Food eCommerce HTML5 Template Preview - CodeCanyon
   
    //- Main CSS
    link(rel="stylesheet", type="text/css", href="../css/style.css")
  body
    //- include ./layouts/header
  
    //- button#backToTop
    //-   i(class="bi bi-arrow-up")


    //- //- Jquery
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js")
    //- //- Wow JS
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
    //- script.
    //-   wow = new WOW(
    //-         {
    //-         boxClass:     'wow',      // default
    //-         animateClass: 'animate__animated', // default
    //-         offset:       0,          // default
    //-         mobile:       true,       // default
    //-         live:         true        // default
    //-       }
    //-       )
    //-       wow.init();
    //- //- Owl Carousel
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
    //- script.
    //-   $(document).ready(function(){
    //-     $('#owl-hero').owlCarousel({
    //-     items:1,
    //-     margin:10,
    //-     loop:true,
    //-     autoplay:true,
    //-     autoplayTimeout:10000,
    //-     autoplayHoverPause:true,
    //-     animateOut: 'animate__fadeOut',
    //-     smartSpeed: 500,
    //-     });
    //-     $('#owl-product').owlCarousel({
    //-     items:1,
    //-     margin:20,
    //-     loop:true,
    //-     autoplay:true,
    //-     autoplayTimeout:10000,
    //-     autoplayHoverPause:true,
    //-     smartSpeed: 500,
    //-     dots:false,
    //-     nav:true,
    //-     navText:['<span class="owl-prev"><i class="bi bi-arrow-left"></i></span>','<span class="owl-next"><i class="bi bi-arrow-right"></i></span>'],
    //-     });
    //-     $('#owl-feature').owlCarousel({
    //-     items:2,
    //-     margin:20,
    //-     smartSpeed: 500,
    //-     dots:false,
    //-     nav:true,
    //-     navText:['<span class="btn-prev"><i class="bi bi-arrow-left"></i></span>','<span class="btn-next"><i class="bi bi-arrow-right"></i></span>'],
    //-     responsive:{
    //-       768:{
    //-         items:3,
    //-       },
    //-       992:{
    //-         items:4,
    //-       },
    //-     }
    //-     });
    //-     $('#owl-testimonial').owlCarousel({
    //-     items:1,
    //-     margin:20,
    //-     dots:true,
    //-     responsive:{
    //-       992:{
    //-         items:2,
    //-       },
    //-     }
    //-     });
    //-   });
    //- //- Countdown JS
    //- script(src="./vendor/countdown/yscountdown.min.js")
    //- //- back to top
    //- script.
    //-   $(document).ready(function(){
    //-     $(window).scroll(function(){
    //-       if($(this).scrollTop()>0){
    //-         $("#backToTop").fadeIn();
    //-       }else{
    //-         $("#backToTop").fadeOut();
    //-       }
    //-     });
    //-     $("#backToTop").click(function(){
    //-       $("html,body").animate({
    //-         "scrollTop":0
    //-       },1000)
    //-     });
    //-   });
    
    //- script.
    //-   $(document).ready(function(){
    //-     $(window).scroll(function(){
    //-       if($(this).scrollTop()>0){
    //-         $(".header-bottom").addClass("extra-header");
    //-       }else{
    //-         $(".header-bottom").removeClass("extra-header");

    //-       }
    //-     });
    //-   });