.header {
  &-top {
    padding-block: 10px;
    background: $third-color;
  }
  .top-left {
    color: #fff;
    @include flexBox(center, center);
    gap: 15px;
  }

  .top-right {
    height: 100%;
    display: none;
    .social-list {
      height: 100%;
      @include flexBox(center, center);
      gap: 30px;
      font-weight: 400;
      color: #fff;
    }
  }
  &-bottom {
    padding-block: 20px;
    background: #fff;
  }
  .logo {
    height: 100%;
    @include flexBox(center, center);
    img {
      margin-bottom: 20px;
    }
  }
  .action-list {
    @include flexBox(center, center);
    gap: 20px;
  }
  .action-item {
    @include size(45px);
    @include flexBox(center, center);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #cacaca;
    font-size: 22px;
    transition: all 0.3s;
    &:hover {
      color: #fff;
      background: $secondary-color;
    }
    sup {
      margin-left: 2px;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
  &-bright {
    @include flexBox(center, center);
  }

  .menu {
    @include flexBox(center, center);
  }
  .item {
    position: relative;
    padding: 38px 20px;
    &:hover:after,
    &:hover a {
      color: $secondary-color;
    }
    &::after {
      content: "+";
      display: inline-block;
      @include absoluteCenter("top");
      right: 5px;
      transition: all 0.3s;
      @include text(1.4rem, 700);
    }

    a {
      @include text(1.6rem, 600, $primary-color);
      transition: all 0.3s;
    }
  }
  .navbar {
    display: none;
  }
  #header-toggle[type="checkbox"]:checked ~ &-overlay {
    opacity: 0.5;
    visibility: visible;
  }
  #header-toggle[type="checkbox"]:checked ~ .sidebar {
    transform: translateX(0);
  }
  &-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: #232323;
    opacity: 0.5;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
  }
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 290px;
    background-color: #fff;
    z-index: 50;
    transform: translateX(-100%);
    transition: all ease 0.5s;

    &-content {
      position: relative;
      padding-block: 20px 30px;
    }
    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      @include flexBox(center, center);
      @include size(32px);
      @include text(1.8rem, 500, #333);
      border: 1px solid #ededed;
      border-radius: 100%;
      transition: all 0.3s;
      &:hover {
        color: #fff;
        background: $secondary-color;
      }
    }
    &-logo {
      margin-bottom: 40px;
      img {
        margin-inline: auto;
      }
    }
    &-item {
      @include flexBox(center, space-between);
      @include text(1.6rem, 500, $third-color);
      border-bottom: 1px solid #ededed;
      padding: 3px 10px 10px;
      margin-bottom: 10px;
      transition: all 0.3s;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@include minWidth(767.98px) {
  .header {
    .logo {
      justify-content: flex-start;
    }
    .action-list {
      justify-content: flex-end;
    }
  }
}

@include minWidth(991.98px) {
  .header {
    &-top {
      font-size: 1.6rem;
    }
    .top-right {
      display: block;
      .social-list {
        @include flexBox(center, flex-end);
      }
    }
    .top-left {
      @include flexBox(center, flex-start);
    }
    &-bottom {
      padding-block: 0;
    }
    .logo {
      img {
        margin-bottom: 0;
      }
    }
    .action-item:nth-child(1),
    .sidebar {
      display: none;
    }
    .navbar {
      display: block;
    }
    &-bright {
      @include flexBox(center, space-between);
    }
  }
}
