.hero {
  padding-block: 30px;
  .silder-item {
    border-radius: 10px;
    padding: 100px 20px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .silder-item.item1 {
    background-image: url("../../images/hero-slider1.jpg");
  }
  .silder-item.item2 {
    background-image: url("../../images/hero-slider2.jpg");
  }
  .silder-item.item3 {
    background-image: url("../../images/hero-slider3.jpg");
  }
  .slider-content {
    padding-inline: 32px;
  }
  .slider-title {
    font-family: $secondary-font;
    @include text(2.6rem, 700, #fff);
    margin-bottom: 5px;
  }
  .slider-decs {
    @include text(2rem, 500, #fff);
    margin-bottom: 30px;
  }
  .owl-item.active {
    .slider-title {
      animation: fadeInLeft 2s;
    }
    .slider-decs {
      animation: fadeInLeft 3s;
    }
    .wrapper-btn {
      animation: fadeInUpBig 3s;
    }
  }
  .owl-dots {
    position: absolute;
    text-align: left;
    left: 20%;
    right: 0;
    bottom: 10%;
    .owl-dot {
      margin-inline: 6px;
    }
    span {
      position: relative;
      display: block;
      border-radius: 50%;
      background-color: #fff;
      width: 12px;
      height: 12px;
      position: relative;
      transition: all 0.3s ease;
      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        top: -5px;
        left: -5px;
        @include size(calc((100% + 10px)));
        border: 1px solid #fff;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
    }
    .owl-dot.active {
      span::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .hero-category {
    display: none;
    height: 100%;
    background: #fff;
    border: 1px solid #e1dcdc;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
  }
  .category-title {
    padding: 15px 20px;
    text-transform: uppercase;
    background-color: $secondary-color;
    font-family: $secondary-font;
    h2 {
      @include text(1.6rem, 600, #fff);
    }
  }
  .category-item {
    padding: 10px 20px;
    border-bottom: 1px solid #eeeeee94;
    @include text(1.5rem, 400, $third-color);
    @include flexBox(center, space-between);
    transition: all 0.3s;
    &:hover > * {
      color: $secondary-color;
    }
  }
}

@include minWidth(575.98px) {
  .hero {
    .silder-item {
      padding: 150px 20px;
    }
  }
}
@include minWidth(767.98px) {
  .hero {
    .slider-title {
      margin-bottom: 20px;
      font-size: 2.8rem;
    }
    .slider-decs {
      font-size: 2rem;
    }
  }
}
@include minWidth(991.98px) {
  .hero {
    .hero-category {
      display: block;
    }
  }
}
@include minWidth(1199.98px) {
  .hero {
    .slider-title {
      font-size: 3.5rem;
    }
  }
}
