.sale {
  padding-bottom: 30px;
  &__banner {
    position: relative;
    background: url("../../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px 10px;
    border-radius: 10px;
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%);
      border-radius: inherit;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  &__content {
    position: relative;
    z-index: 10;
  }
  &__topic {
    font-family: $secondary-font;
    @include text(2rem, 600, #fff);
    text-transform: uppercase;
  }
  &__title {
    font-family: $secondary-font;
    @include text(5rem, 900, #fff);
    text-transform: uppercase;
    span {
      color: #b1f40d;
    }
  }
  &__decs {
    @include text(2rem, normal, #b5b5b5);
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .button {
    border-radius: 35px;
  }
}

@include minWidth(767.98px) {
  .sale {
    &__banner {
      padding: 100px 50px;
    }
    &__title {
      font-size: 7rem;
    }
  }
}
