.widgets {
  padding-block: 30px;
  .widgers__banner {
    position: relative;
    height: 100%;
    padding: 20px;
    background-image: url("../../images/banner3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%);
      border-radius: inherit;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  .widgets__content {
    position: relative;
    z-index: 10;
  }
  .widgets__topic {
    font-family: $secondary-font;
    @include text(1.8rem, 600, #fff);
  }
  .widgets__title {
    font-family: $secondary-font;
    @include text(3rem, 900, #fff);
    margin-block: 10px;
  }
  .widgets__decs {
    @include text(2rem, 500, #fff);
    margin-bottom: 20px;
    span {
      color: #b1f40d;
    }
  }
  .button {
    border-radius: 35px;
    background: #fff;
    color: $secondary-color !important;
    &:hover {
      background: $secondary-color;
      color: #fff !important;
    }
  }
}
