section.contact 
    div.container 
        div.row 
            div.col-12.col-md-8
                h2.contact__title Get A Free Service Or Make A Call
            div.col-12.col-md-4
                a.contact-btn
                    i(class="fas fa-phone-volume")
                    |    MAKE A CALL