section.feature 
    div.container 
        +heading({title:"Featured Products"})
        div#owl-feature.owl-carousel
            +productCard({
                image:"./images/product1.png",
                name:"Purnava Omega 3 Enri...",
                price:"$200",
                sale:"$210",
                rating:"rating",
                tag:"hot",
                percent:"-50%",
            })
            +productCard({
                image:"./images/product2.png",
                name:"Purnava Omega 3 Enri...",
                price:"$200",
                sale:"$210",
                rating:"rating",
                tag:"sale",
            })
            +productCard({
                image:"./images/product3.png",
                name:"Purnava Omega 3 Enri...",
                price:"$200",
                sale:"$210",
                rating:"rating",
                tag:"hot",
                percent:"-50%",
            })
            +productCard({
                image:"./images/product4.png",
                name:"Purnava Omega 3 Enri...",
                price:"$200",
                sale:"$210",
                rating:"rating",
            })
            +productCard({
                image:"./images/product5.png",
                name:"Purnava Omega 3 Enri...",
                price:"$200",
                sale:"$210",
                rating:"rating",
            })
            +productCard({
                image:"./images/product6.png",
                name:"Purnava Omega 3 Enri...",
                price:"$200",
                sale:"$210",
                rating:"rating",
            })
            +productCard({
                image:"./images/product7.png",
                name:"Purnava Omega 3 Enri...",
                price:"$200",
                sale:"$210",
                rating:"rating", 
            })
            +productCard({
                image:"./images/product8.png",
                name:"Purnava Omega 3 Enri...",
                price:"$200",
                sale:"$210",
                rating:"rating",
            })