section.header 
    div.header-top 
        div.container 
            div.row 
                div.col-12.col-lg-6
                    div.top-left
                        +textIcon({
                            icon:"icon fa-regular fa-envelope",
                            text:"info12@example.com"
                        })

                        +textIcon({
                            icon:"fa-solid fa-location-dot",
                            text:" California, TX 70240"
                        })
                            
                div.col-12.col-lg-6
                    div.top-right
                        ul.social-list
                            li.social-item
                                i(class="fab fa-facebook-f") 
                            li.social-item
                                i(class="fab fa-twitter") 
                            li.social-item
                                i(class="fab fa-instagram") 
                            li.social-item
                                i(class="fab fa-vimeo-v") 
    div.header-bottom 
        div.container 
            div.row 
                div.col-12.col-md-6.col-lg-2
                    div.logo 
                        img(src="./images/logo.png", alt="logo")                            
                div.col-12.col-md-6.col-lg-10
                    div.header-bright
                        nav.navbar
                            ul.menu
                                li.item
                                    a(href="#!") Home 
                                li.item
                                    a(href="#!") Page 
                                li.item
                                    a(href="#!") Shop 
                                li.item
                                    a(href="#!") Blog 
                                li.item
                                    a(href="#!") Contact Us 
                        div.header-action 
                        ul.action-list
                            li.action-item
                                label(for="header-toggle",class="fa-solid fa-bars-staggered")
                            li.action-item
                                i(class="bi bi-cart3")
                                sup 2
                            li.action-item
                                i(class="bi bi-suit-heart")
                                sup 2
                            li.action-item
                                i(class="bi bi-search")
                            li.action-item
                                i(class="bi bi-person")
    input(type="checkbox" id="header-toggle" hidden)
    label(for="header-toggle").header-overlay
    div.sidebar 
        div.sidebar-content
            label(for="header-toggle").sidebar-close
                i(class="fas fa-times")
            div.sidebar-logo 
                img(src="./images/logo.png", alt="logo")
            nav.sidebar-menu
                ul.sidebar-list
                    li.sidebar-item
                        span.sidebar-text Home
                        i.sidebar-icon(class="bi bi-chevron-down") 
                    li.sidebar-item
                        span.sidebar-text About Us
                        i.sidebar-icon(class="bi bi-chevron-down") 
                    li.sidebar-item
                        span.sidebar-text Page
                        i.sidebar-icon(class="bi bi-chevron-down") 
                    li.sidebar-item
                        span.sidebar-text Shop
                        i.sidebar-icon(class="bi bi-chevron-down") 
                    li.sidebar-item
                        span.sidebar-text Blog
                        i.sidebar-icon(class="bi bi-chevron-down") 
                    li.sidebar-item
                        span.sidebar-text Contact Us
                        i.sidebar-icon(class="bi bi-chevron-down") 