section.hero 
    div.container 
        div.row 
            div.col-lg-3
                div.hero-category
                    div.category-title
                        h2 All Categories
                    div.category-menu 
                        ul.category-list 
                            li.category-item
                                span.category-text Vegetables and Fruits 
                                i.category-icon(class="fa-solid fa-chevron-right") 
                            li.category-item
                                span.category-text Fruits 
                                i.category-icon(class="fa-solid fa-chevron-right") 
                            li.category-item
                                span.category-text Oil and Vinegar 
                                i.category-icon(class="fa-solid fa-chevron-right") 
                            li.category-item
                                span.category-text Apple Juice
                                i.category-icon(class="fa-solid fa-chevron-right") 
                            li.category-item
                                span.category-text Ocean Food
                                i.category-icon(class="fa-solid fa-chevron-right") 
                            li.category-item
                                span.category-text Butter & Eggs
                                i.category-icon(class="fa-solid fa-chevron-right") 
                            li.category-item
                                span.category-text Fresh Meat 
                            li.category-item
                                span.category-text Dry Nuts 
                            li.category-item
                                span.category-text Vegetables
                            li.category-item
                                span.category-text Milk & Cream 
            div.col-12.col-lg-9 
                div.owl-carousel#owl-hero 
                    div.silder-item.item1 
                        div.row
                            div.col-lg-6
                                h2.slider-title Fresh Food & Healthly Organic Food
                                p.slider-decs Free Shipping on all Your Order
                                div.wrapper-btn
                                    a.button Shop now
                    div.silder-item.item2
                        div.row
                            div.col-lg-6
                                h2.slider-title Fresh Food & Healthly Organic Food
                                p.slider-decs Free Shipping on all Your Order
                                div.wrapper-btn
                                    a.button Shop now
                    div.silder-item.item3 
                        div.row
                            div.col-lg-6
                                h2.slider-title Fresh Food & Healthly Organic Food
                                p.slider-decs Free Shipping on all Your Order
                                div.wrapper-btn
                                    a.button Shop now
                    