section.popular 
    div.container 
        +heading({title:"Popular Products"})
        div.row 
            div.col-12.col-sm-6.col-md-4.col-lg-3
                +productCard({
                    image:"./images/product1.png",
                    name:"Purnava Omega 3 Enri...",
                    price:"$200",
                    sale:"$210",
                    rating:"rating",
                    tag:"hot",
                    percent:"-50%",
                })
            div.col-12.col-sm-6.col-md-4.col-lg-3
                +productCard({
                    image:"./images/product2.png",
                    name:"Purnava Omega 3 Enri...",
                    price:"$200",
                    sale:"$210",
                    rating:"rating",
                    tag:"hot",
                    percent:"-50%",
                })
            div.col-12.col-sm-6.col-md-4.col-lg-3
                +productCard({
                    image:"./images/product3.png",
                    name:"Purnava Omega 3 Enri...",
                    price:"$200",
                    sale:"$210",
                    rating:"rating",
                    tag:"sale",
                })
            div.col-12.col-sm-6.col-md-4.col-lg-3
                +productCard({
                    image:"./images/product4.png",
                    name:"Purnava Omega 3 Enri...",
                    price:"$200",
                    sale:"$210",
                    rating:"rating",
                })
            div.col-12.col-sm-6.col-md-4.col-lg-3
                +productCard({
                    image:"./images/product5.png",
                    name:"Purnava Omega 3 Enri...",
                    price:"$200",
                    sale:"$210",
                    rating:"rating",
                })
            div.col-12.col-sm-6.col-md-4.col-lg-3
                +productCard({
                    image:"./images/product6.png",
                    name:"Purnava Omega 3 Enri...",
                    price:"$200",
                    sale:"$210",
                    rating:"rating",
                })
            div.col-12.col-sm-6.col-md-4.col-lg-3
                +productCard({
                    image:"./images/product7.png",
                    name:"Purnava Omega 3 Enri...",
                    price:"$200",
                    sale:"$210",
                    rating:"rating",
                })
            div.col-12.col-sm-6.col-md-4.col-lg-3
                +productCard({
                    image:"./images/product8.png",
                    name:"Purnava Omega 3 Enri...",
                    price:"$200",
                    sale:"$210",
                    rating:"rating",
                })