section.sale 
    div.container 
        div.sale__banner 
            div.row
                div.col-12.col-md-4.col-lg-6
                div.col-12.col-md-8.col-lg-6
                    div.sale__content 
                        h4.sale__topic Summer Sale
                        h2.sale__title 
                            span 39%
                            |   Off
                        p.sale__decs Free on all your order, Free Shipping and 30 days mony back guarantee
                        a(href="#!").button Shop now

