section.services 
    div.container 
        div.services__content 
            div.row 
                div.col-12.col-md-6.col-xl-3
                    div.services__item 
                        div.icon
                            i(class="bi bi-truck")
                        div.info
                            h3 Free Shipping
                            p Free UK shipping when you spend £30.
                div.col-12.col-md-6.col-xl-3
                    div.services__item 
                        div.icon
                            i(class="fab fa-pagelines")
                        div.info
                            h3  Get Fresh Products
                            p Find a range of best online organic food.
                div.col-12.col-md-6.col-xl-3
                    div.services__item 
                        div.icon
                            i(class="fas fa-dollar-sign")
                        div.info
                            h3  Moneyback Offer
                            p Free UK shipping when you spend £30.
                div.col-12.col-md-6.col-xl-3
                    div.services__item 
                        div.icon
                            i(class="bi bi-shield-lock")
                        div.info
                            h3  Safe Payment
                            p We are using secure payment methods.