section.subscribe 
    div.container 
        div.row.align-items-lg-center 
            div.col-12.col-lg-5
                div.subscribe-top
                    div.subscribe__img
                        img(src="./images/subscribe.png", alt="subscribe")
                    div.subscribe__content
                        h2.subscribe__title Newsletter
                        p.subscribe__decs Subsribe here for get every single updates
            div.col-12.col-lg-7
                div.subscribe__form
                    form(action="#")
                        input(type="email" placeholder="Enter Your Email Address")
                        button(type="submit") subscribe now 