section.testimonial     
    div.container 
        div#owl-testimonial.owl-carousel
           +testimonialCard({
            author:"./images/author1.png",
            name:"Al-Mahmud",
            quote:"./images/testimonial.png",
            decs:"Nam ullamcorper eros sed semper viverra. Suspendisse porttitor auctor felis pulvinar elementum. Cras nec feugiat felis. Maecenas ut justo eu nisl pharetra lobortis vel non erat. ",
           })
           +testimonialCard({
            author:"./images/author1.png",
            name:"Al-Mahmud",
            quote:"./images/testimonial.png",
            decs:"Nam ullamcorper eros sed semper viverra. Suspendisse porttitor auctor felis pulvinar elementum. Cras nec feugiat felis. Maecenas ut justo eu nisl pharetra lobortis vel non erat. ",
           })
           +testimonialCard({
            author:"./images/author1.png",
            name:"Al-Mahmud",
            quote:"./images/testimonial.png",
            decs:"Nam ullamcorper eros sed semper viverra. Suspendisse porttitor auctor felis pulvinar elementum. Cras nec feugiat felis. Maecenas ut justo eu nisl pharetra lobortis vel non erat. ",
           })