section.widgets 
    div.container 
        div.row 
            div.col-12.col-sm-6.col-lg-3.mb-5 
                +ratedBox({title:"Hot Deals"})
                    +ratedCard({
                        image:"./images/product1.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
                    +ratedCard({
                        image:"./images/product2.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
                    +ratedCard({
                        image:"./images/product3.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
                    +ratedCard({
                        image:"./images/product4.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
            div.col-12.col-sm-6.col-lg-3.mb-5 
                +ratedBox({title:"Top rated products"})
                    +ratedCard({
                        image:"./images/product5.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
                    +ratedCard({
                        image:"./images/product6.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
                    +ratedCard({
                        image:"./images/product7.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
                    +ratedCard({
                        image:"./images/product8.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
            div.col-12.col-sm-6.col-lg-3.mb-5 
                +ratedBox({title:"Best Seller"})
                    +ratedCard({
                        image:"./images/product2.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
                    +ratedCard({
                        image:"./images/product3.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
                    +ratedCard({
                        image:"./images/product6.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
                    +ratedCard({
                        image:"./images/product1.png",
                        name:"Fresh Red Seedless",
                        price:"$200",
                        sale:"$210",
                    })
            div.col-12.col-sm-6.col-lg-3.mb-5 
                div.widgers__banner 
                    div.widgets__content 
                        h4.widgets__topic 85% FAT FREE
                        h2.widgets__title Low-Fat Meet
                        p.widgets__decs Started ad 
                            span $79.99
                        a.button Shop now
