#backToTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  @include size(45px);
  @include flexBox(center, center);
  @include text(2rem, 500, #fff);
  background: $secondary-color;
  border-radius: 100%;
  z-index: 999;
}
