.rated-card {
  @include flexBox(flex-start);
  gap: 8px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  transition: all 0.3s;
  &:hover .thumb {
    border-color: $secondary-color;
  }
  &:hover .rated__name {
    color: $secondary-color;
  }
  .thumb {
    padding: 5px;
    border: 1px solid transparent;
    transition: all 0.3s;
    @include size(80px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .rated__name {
    font-family: $secondary-font;
    @include text(1.4rem, 600#666);
    margin-bottom: 6px;
    transition: all 0.3s;
  }
  .rated__rating {
    margin-block: 5px;
    @include flexBox(center);
    @include text(1.3rem, 600, $yellow);
  }
  .rated__price {
    span {
      @include text(1.6rem, 700, $secondary-color);
    }
    del {
      @include text(1.2rem, 500);
    }
  }
}
